# pandas.Series

Pandas Series is a One Dimensional indexed array. It is most similar to the NumPy array. pandas.Series is a method to create a series.

Here practically explanation about Series.
For using pandas library in Jupyter Notebook IDE or any Python IDE or IDLE, we need to import Pandas, using the import keyword

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.3'

#Series is similar to python list but series have additional functionality, methods, and operators, because of these series is advanced than a list.

# Methods of Creating a Series

In [3]:
list_1 = [1, 2, -3, 4.5, 'indian']
print(list_1)

[1, 2, -3, 4.5, 'indian']

# Creating series using the above list

In [28]:
series1 = pd.Series(list_1)
print(series1)

0         1
1         2
2        -3
3       4.5
4    indian
dtype: object

Here it is showing 0 1 2 3 4 is index and 1 2 -3 4.5 Indian are data values.

In [5]:
type(series1)

pandas.core.series.Series

pandas.core.series.Series means series is a one-dimensional array, which can store indexed data

# 2. Creating Empty Series

In [26]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

<ipython-input-26-4d32fcf5dfe7>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

# 3. Creating Series using a different method

List inside the series

In [29]:
series2 = pd.Series([1,2,3,4,5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

in index parameter, default index is start from 0 to n (0,1,2,….n) when index is not identified
Here we are creating series with the index parameter
Index length should have equal to the number of data values, otherwise, it shows error

In [30]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c'])
print(series2)

ValueError: Length of passed values is 5, index implies 3.

ValueError: Length of passed value is 5, index implies 3
We got an error because we passed 3 indexes for 5 data values

In [37]:
series2 = pd.Series([1,5,6,7,8], index = ['a', 'b', 'c', 'd', 'e'])
print(series2)

a    1
b    5
c    6
d    7
e    8
dtype: int64

We can change index to any numbers, alphabates, names etc.

Above you can see dtype: int64, this means our data type has stored in integer 64 bit.
we can change the data type of series
Changing data type of series (Convert int into a float)

In [32]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'], dtype = float)
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

# 4. Creating series from scalar values

scalar values means single value
e.g. 1, 0.5, ‘indian’

In [10]:
s3_scalar = pd.Series(2)
print(s3_scalar)

0    2
dtype: int64

for more data values index should be needed.

In [36]:
s3_scalar = pd.Series(2, index = ['i','ii','iii','iv','v'])
print(s3_scalar)

i      2
ii     2
iii    2
iv     2
v      2
dtype: int64

# 5. Creating series from python dictionary

In [12]:
s4_dict = pd.Series({'a':1, 'b':2, 'c':3})
print(s4_dict)

a    1
b    2
c    3
dtype: int64

# Accessing element from series
Pandas Series supports most Python functions.
Now, we are accessing element from series2

In [39]:
series2 = pd.Series([1,5,6,7,8], index = ['a', 'b', 'c', 'd', 'e'])
series2

a    1
b    5
c    6
d    7
e    8
dtype: int64

In [40]:
print(series2)

a    1
b    5
c    6
d    7
e    8
dtype: int64

We can access any value or data from series by putting index value

In [41]:
series2[3]

7

In [42]:
series2[4]

8

# Slicing series

Here we are slicing series with index value 1 to 4 that means 1 is inclusive(it can be taken) and 4 is exclusive(it can be not taken)

In [16]:
series2[1:4]

b    2.0
c    3.0
d    4.0
dtype: float64

# Adding two serieses

In [43]:
s5 = pd.Series([1,2,3,4,5])
s6 = pd.Series([1,2,3,4,5])
 
a = s5 + s6
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

# we can also add series using add method

In [18]:
s5.add(s6)

0     2
1     4
2     6
3     8
4    10
dtype: int64

min() operator gives minimum value of particular series

In [44]:
min(a)

2

max() operator gives maximum value

In [45]:
max(a)

10

# Conditional operator

If you want to print less than 8 values

In [48]:
a[:]

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [50]:
a[a > 8]

4    10
dtype: int64

Using drop() function we can eliminate any index value

In [22]:
a.drop(4)

0    2
1    4
2    6
3    8
dtype: int64

Now we are printing series6 (s6)

In [23]:
print(s6)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [24]:
s7 = pd.Series([1,2,3])
print(s7)

0    1
1    2
2    3
dtype: int64

Pandas have additional functions to fill missing values, it does not show an error when the value is missing. Missing values are shown by NaN.
See below example:

In pandas, we can add the unequal data values series. Here series s6 have 5 data values and s7 have 3 data values, when we perform addition operation it adds successfully

In [25]:
s6 + s7

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64